<header class="site-header">
  <div class="float-left">
    {{#is "index"}}
      <h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{/is}}
    {{#is "post"}}
      <span class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></span>
    {{/is}}
  </div>

  <div class="float-right">
    {{navigation}}
  </div>
</header>
