<header class="site-header">
  <div class="float-left">
    {{#is "post, page"}}
      <span class="site-title"><a href="{{@site.url}}">{{@site.title}}</a></span>
    {{else}}
      <h1 class="site-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
    {{/is}}
  </div>

  <div class="float-right">
    {{navigation}}
  </div>
</header>
