<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- {{! Page Meta }} -->
  <title>{{meta_title}}</title>

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  <!-- {{! Styles'n'Scripts }} -->
  <link rel="stylesheet" type="text/css" href="{{asset "css/min/screen.min.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/min/prism.min.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "fonts/icons/icons.css"}}" />
  <link href="https://fonts.googleapis.com/css?family=Athiti&amp;subset=vietnamese" rel="stylesheet">

  {{! Google Analytics }}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66599377-1', 'auto');
    ga('send', 'pageview');
  </script>

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}">

  <div class="container">

    {{> "header"}}

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{> "footer"}}

  </div>

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <script type="text/javascript" src="{{asset "js/min/jquery.fitvids.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/min/prism.min.js"}}"></script>
  {{! The main JavaScript file for Blacklist }}
  <script type="text/javascript" src="{{asset "js/min/index.min.js"}}"></script>

  <script>
      var images = document.querySelectorAll('.kg-gallery-image img');
      images.forEach(function (image) {
          var container = image.closest('.kg-gallery-image');
          var width = image.attributes.width.value;
          var height = image.attributes.height.value;
          var ratio = width / height;
          container.style.flex = ratio + ' 1 0%';
      })
  </script>

  {{#is "post"}}
    <script type="text/javascript">
      if ( typeof disqus_shortname !== 'undefined' ) {
        /* --- Don't edit below this line --- */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      } else {
        $(".post-comments").remove();
      }
    </script>
  {{/is}}

</body>
</html>
