{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<main class="site-main wow fadeIn" data-wow-duration=".8s" role="main">

  {{! Everything inside the #post tags pulls data from the post }}
  {{#post}}

    <article class="{{post_class}}">
      <header class="post-header">
        <h2>{{title}}</h2>
        <p>
          <time datetime="{{date format='YYYY-MM-DD'}}">Posted on {{date format="MMMM DD, YYYY"}}</time>
          {{tags prefix="in "}}
        </p>
        {{#if feature_image}}
          <section class="featured-image">
            <img src="{{img_url feature_image}}" alt="{{title}}">
          </section>
        {{/if}}
      </header>

      <section class="post-content">
        {{content}}
      </section>
    </article>

    <section class="read-next-story">
      <div class="row">

        <div class="column">
          {{#next_post}}
            <div class="next">
              <p>Next story</p>
              <h3><a href="{{url}}">{{title}}</a></h3>
            </div>
          {{/next_post}}
        </div>

        <div class="column">
          {{#prev_post}}
            <div class="prev">
              <p>Previous story</p>
              <h3><a href="{{url}}">{{title}}</a></h3>
            </div>
          {{/prev_post}}
        </div>

      </div>
    </section>

    {{> widget-share}}

    {{!-- Everything inside the #author tags pulls data from the author --}}
    {{#author}}
      <section class="post-author">
        {{#if profile_image}}
          <a class="author-image" href="{{url}}" style="background-image: url({{img_url profile_image}})"><span class="hidden">{{name}}'s Picture</span></a>
        {{/if}}

        <div class="author-data">
          <h4>Written by <a href="{{url}}">{{name}}</a></h4>

          {{#if bio}}
              <p>{{bio}}</p>
          {{else}}
              <p>Read <a href="{{url}}">more posts</a> by this author.</p>
          {{/if}}
        </div>

      </section>
    {{/author}}

    {{! The tag below includes comments - partials/comments.hbs }}
    {{> comments}}

  {{/post}}

</main>
